[Unit]
Description=Network Monitor Service
After=network.target

[Service]
ExecStart=~/network_monitor/monitor_network.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target